<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bloks</title>

    <link rel="stylesheet" type="text/css" href="styles/main.css" inline></link>

    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="scripts/require.js" inline></script>

  </head>
  <body>
    <section id="stage-1" ng-if="state.game.currentStage === 1">
      <section id="stage-1-content">

        <section id="stage-1-join-container">

          <h1>Bloks</h1>

          <div ng-show="state.players.length > 1">
            <span>{{state.players.length}} Player Game</span>
          </div>
          
          <table id="stage-1-join-table">
            <thead></thead>
            <tbody>
              <tr>
                <td id="player1" class="player-container">
                  <table>
                    <tr>
                      <td>
                        <img id="player1-image" class="player-image" alt="" ng-src="{{state.players[0].image}}" ng-show="state.players[0].image">
                      </td>
                      <td>
                        <span id="player1-name">{{state.players[0].name}}</span>
                        <span ng-if="state.host.id && state.players[0].id === state.host.id">(Host)</span>
                        <span ng-if="state.players[0].id === me.person.id">(Me)</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td id="player2" class="player-container"><table>
                    <tr>
                      <td>
                        <img id="player2-image" class="player-image" alt="" ng-src="{{state.players[1].image}}" ng-show="state.players[1].image">
                      </td>
                      <td>
                        <span id="player2-name">{{state.players[1].name}}</span>
                        <span ng-if="state.host.id && state.players[1].id === state.host.id">(Host)</span>
                        <span ng-if="state.players[1].id === me.person.id">(Me)</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td id="player3" class="player-container">
                  <table>
                    <tr>
                      <td>
                        <img id="player3-image" class="player-image" alt="" ng-src="{{state.players[2].image}}" ng-show="state.players[2].image">
                      </td>
                      <td>
                        <span id="player3-name">{{state.players[2].name}}</span>
                        <span ng-if="state.host.id && state.players[2].id === state.host.id">(Host)</span>
                        <span ng-if="state.players[2].id === me.person.id">(Me)</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td id="player4" class="player-container">
                  <table>
                    <tr>
                      <td>
                        <img id="player4-image" class="player-image" alt="" ng-src="{{state.players[3].image}}" ng-show="state.players[3].image">
                      </td>
                      <td>
                        <span id="player4-name">{{state.players[3].name}}</span>
                        <span ng-if="state.host.id && state.players[3].id === state.host.id">(Host)</span>
                        <span ng-if="state.players[3].id === me.person.id">(Me)</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>

          <button id="buttonJoin" ng-click="join();" ng-show="!findPlayerById(me.person.id);">Join the game!</button>

          <button id="buttonLeave" ng-click="$root.showLeaveModal = true;" ng-show="findPlayerById(me.person.id);">Leave the game</button>

          <button id="buttonStart" ng-click="begin();" ng-show="me.person.id === state.host.id && state.players.length > 1">Begin {{state.players.length}} Player Game!</button>

        </section>

      </section>
    </section>

    <section id="stage-2" ng-if="state.game.currentStage === 2">
      <section id="stage-2-content">
        
        <section id="stage-2-choose-color-container">

          <h1>Pick your color{{ ((players.length === 2) ? 's' : '') }}!</h1>

          <div ng-show="myRemainingColors() && isPlayer()">
            <span>You still need to choose {{ myRemainingColors() + ' color' + ((myRemainingColors() === 2) ? 's' : '') }}</span>
          </div>

          <div ng-show="displayColors() && isPlayer()">
            <span>You will be {{displayColors()}}</span>
          </div>

          <div ng-show="displaySharedColor()">
            <span>Everyone will share {{displaySharedColor()}}</span>
          </div>
          
          <table id="stage-2-choose-color-table">
            <thead></thead>
            <tbody>
              <tr>
                <td>
                  <button ng-click="chooseColor('blue');" ng-disabled="!isPlayer() || !myRemainingColors() || state.colors.blue;">Blue</button>
                </td>
                <td>
                  <button ng-click="chooseColor('red');" ng-disabled="!isPlayer() || !myRemainingColors() || state.colors.red;">Red</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button ng-click="chooseColor('green');" ng-disabled="!isPlayer() || !myRemainingColors() || state.colors.green;">Green</button>
                </td>
                <td>
                  <button ng-click="chooseColor('yellow');" ng-disabled="!isPlayer() || !myRemainingColors() || state.colors.yellow;">Yellow</button>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>

          <button id="buttonStart" ng-click="start();" ng-show="me.person.id === state.host.id && state.players.length > 1 && displayChoosenColors().length === 4">Start {{state.players.length}} Player Game!</button>

        </section>

      </section>
    </section>

    <section id="stage-3" ng-if="state.game.currentStage === 3">
      
      <div id="canvas-container">
        
      </div>

    </section>
    
    <div id="modal-leave" class="modal" ng-show="showLeaveModal">
        
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" ng-click="$root.showLeaveModal = false;">x</span>
          <div class="clear"></div>
        </div>
        <div class="modal-body">
          <p>You sure you want to leave the game?</p>
        </div>
        <div class="modal-footer">
          <button ng-click="leave(); $root.showLeaveModal = false;">Yes</button>
          <button ng-click="$root.showLeaveModal = false;">Cancel</button>
        </div>
      </div>

    </div>

    <script src="scripts/main.js" inline></script>
  </body>
</html>